*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
body {
  position: relative;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.nav_info1,
.nav_info2 {
  display: flex;
  align-items: center;
}

.nav_info1 a,
.nav_info2 a {
  padding: 12px;
  display: inline-flex;
}

.text_hover:hover {
  text-decoration: underline;
}
.img_hover {
  margin: 0 3px 0 3px;
}
.img_hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.user_img {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  display: flex;
  justify-content: center;
}
section {
  text-align: center;
  position: absolute;
  top: 30%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 580px;
  padding: 12px 20px;
  margin: 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #fff;
  gap: 10px;
}

.search-box input {
  flex: 1;
  border: none;
  font-size: 16px;
  outline: none;
}
.search-box i {
  color: #5f6368;
  font-size: 18px;
  cursor: pointer;
}
.button_box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button_box * {
  all: unset;
  margin-right: 40px;
  padding: 5px 20px 5px 20px;
  background-color: rgba(197, 197, 197, 0.15);
  border-radius: 5%;
}

.button_box *:hover {
  box-shadow: 0 0 2px rgb(131, 131, 131);
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #c4c4c43f;
  width: 100%;
}

footer > div {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}
footer > :first-child {
  border-bottom: 1px solid #95999e7e;
}

footer > div:nth-child(2) a {
  padding-right: 15px;
}
